<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=
        "width=device-width, initial-scale=1.0">
    <title>MY PORFOLIO</title>
</head>
 
<body>

    <table id="header" border="0" width="100%"
        cellpadding="0" cellspacing="0" bgcolor="#4CAF50">
        <tr>
            <td>
                <table border="0" cellpadding="15"
                    cellspacing="0" width="90%" align="centers">
                    <tr>
                        <td>   
                            <a href="#home" style="text-decoration:none">
                                <font face="Verdana" size="5" color=black>
                                       Home
                                </font>
                            </a>
                        </td>
 
                        <td>
                            <font face="Comic sans MS" size="6">
                                <b>My Portfolio</b>
                            </font>
                        </td>
 
                        <td width="15%"> 
                        </td>

                        <td>
                            <a href="#Personal Info" style="text-decoration:none">
                                <font face="Verdana" size="5" color=black>
                                       Personal Info
                                </font>
                            </a>
                        </td>
 
                        <td>
                            |
                        </td>
 
                        <td>
                            |
                        </td>
 
                        <td>
                            <a href="#achievements" style="text-decoration:none">
                                <font face="Verdana" size="5" color=black>
                                    Achievements
                                </font>
                            </a>
                        </td>
 
                        <td>
                            |
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
  
    <table id="home" border="1" width="100%"
        cellpadding="20" cellspacing="0" bgcolor="black">
        <tr>
            <td>
                <table border="0" cellpadding="15"
                    cellspacing="0" width="90%" align="center">
                    <tr>
                        <td align="center" valign="middle">
                            <h3>
                                <font face="Times New Roman"
                                    size="6" color="#ffffff">
                                            George Joseph M. Espejo
                                   
                                </font>
                            </h3>
 
                            <h2>
                                <font face="Verdana" size="6"
                                    color="#4CAF50">
                                </font>
                            </h2>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
 
 
    <table id="" border="0" width="100%"
        cellpadding="0" cellspacing="0" bgcolor="black">
        <tr>
            <td>
                <table border="0" cellpadding="15"
                    cellspacing="0" width="80%" align="center">
                    <tr>
                        <td height="180" align="center"
                            valign="middle" colspan="2">
                            <font face="Verdana" size="5" 
                                color="#4CAF50">
                            </font>
                            <hr color="#4CAF50" width="90">
                        </td>
                    </tr>
                    <tr align="center">
                        <td width="30%">
                            <img src="assets/ESPEJO.jpeg" width="40%" height="400px">

                        </td>

                    </tr>
                </table>
                <hr color="black">
                <hr color="black">
                <hr color="black">
            </td>
        </tr>
    </table>

    <table id="achievements" border="0" width="100%"
        cellpadding="0" cellspacing="0" bgcolor="black">
        <tr>
            <td>
                <table border="0" cellpadding="15"
                    cellspacing="0" width="80%" align="center">
                    <tr>
                        <td height="180" align="center" valign="middle">
                            <font face="Verdana" size="7" color="#4CAF50">
                                Achievements
                                <hr color="#4CAF50" width="100">
                            </font>
                        </td>
                    </tr>
 
                    <tr>
                        <td>
                            <font face="Verdana" size="4" color="white">
                                <ul>
                                    <li>
                                        <b></b>
                                        <ul>
                                            <li>
                                                <p>Elementary:             Dr. A.P Banes Memorial Elemtary School</p>
                                                <p>Year Granduated:           2012/2013</p>
                                            </li>
                                            <li>
                                              <p>Junior High School:        Leyte National High School</p>
                                              <p>Year Granduated:       2016/2017</p>
                                              <p>Senior High School:       Leyte National High School</p>
                                              <p>Year Granduated:           2018/2019</p>

                                            </li>
                                        </ul>
                                    </li>
 
                                    <li>                             

    <table id="Personal Info" border="0" width="100%"
        cellpadding="0" cellspacing="0" bgcolor="black">
        <tr>
            <td>
                <table border="0" cellpadding="15"
                    cellspacing="0" width="80%" align="center">
                    <tr>
                        <td height="180" align="center" valign="middle">
                            <font face="Verdana" size="7" color="#4CAF50">
                               Personal Info
                                <hr color="#4CAF50" width="100">
                            </font>
                        </td>
                    </tr>
 
                    <tr>
                        <td>
                            <font face="Verdana" size="4" color="white">
                                <ul>
                                    <li>
                                        <b></b>
                                        <ul>
                                            <li>
                                                <h3>Address</h3>
                                                <p>Brgy 75 Heordeman Lane.<br>Fatima Village,<br>Tacloban City</p>
                                            </li>
                                            <li>
                                              <h3>Phone Number</h3>
                                              <p>09451006904</p>
                                              <h3>Email</h3>
                                              <p>georgeespejo1@gmail.com</p>

                                            </li>
                                        </ul>
                                    </li>
 
                                    <li>
                     
    <table id="footer" border="0" width="100%"
        cellpadding="0" cellspacing="0" bgcolor="black">
        <tr>
            <td>
                <table border="0" cellpadding="15"
                    cellspacing="0" width="90%" align="center">
                    <tr>
                        <td width="80%" valign="top">
                            <font face="Verdana"
                                color="#4CAF50" size="5">
                                ©Copyright 2090
                                All rights reserved.
                            </font>
                        </td>
 
                        <td width="10%">
                            <font face="arial" color="black" size="5">
                                <a href="#header" style="text-decoration:none">
                                </a>
                            </font>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
